@model SerialService.ViewModels.VideoMaterialDetailsViewModel
@using System.Text;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Other/UserContent.css" rel="stylesheet" />
<link href="~/Content/mdl-v1.1.2/material.css" rel="stylesheet" type="text/css" />
<link href="~/Content/User/DetailPage.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/User/Posters.css" />
@{
    bool originalTitleHasValue = !string.IsNullOrEmpty(Model.OriginalTitle);
    bool posterUrlHasValue = !string.IsNullOrEmpty(Model.PosterURL);
}

@Html.HiddenFor(m => m.ID, new { id = "material-id" })
<div class="content">
    <div class="mdl-grid mdl-shadow--2dp mdl-cell--12-col mdl-card player-container">
        <div class="player">
            <div id="visearch">
                @{
                    StringBuilder iframeSrc = new StringBuilder(Model.IframeUrl);

                    if (ViewBag.StartTime != null)
                    {
                        if (iframeSrc.ToString() == Model.IframeUrl)
                        {
                            iframeSrc.AppendFormat("?start_time={0}", ViewBag.StartTime);
                        }
                        else
                        {
                            iframeSrc.AppendFormat("&start_time={0}", ViewBag.StartTime);
                        }

                    }

                    if (ViewBag.EpisodeNumber != null)
                    {
                        if (iframeSrc.ToString() == Model.IframeUrl)
                        {
                            iframeSrc.AppendFormat("?episode={0}", ViewBag.EpisodeNumber);
                        }
                        else
                        {
                            iframeSrc.AppendFormat("&episode={0}", ViewBag.EpisodeNumber);
                        }
                    }

                    if (ViewBag.SeasonNumber != null)
                    {
                        if (iframeSrc.ToString() == Model.IframeUrl)
                        {
                            iframeSrc.AppendFormat("?season={0}", ViewBag.SeasonNumber);
                        }
                        else
                        {
                            iframeSrc.AppendFormat("&season={0}", ViewBag.SeasonNumber);
                        }
                    }

                    if (ViewBag.Translator != null)
                    {
                        if (iframeSrc.ToString() == Model.IframeUrl)
                        {
                            iframeSrc.AppendFormat("?translation={0}", ViewBag.Translator);
                        }
                        else
                        {
                            iframeSrc.AppendFormat("&translation={0}", ViewBag.Translator);
                        }
                    }
                }
                <iframe src="@iframeSrc.ToString()" id="player-frame" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
    <div class="mdl-grid mdl-shadow--2dp info-container mdl-card mdl-cell--12-col" style="overflow:visible">
        <div class="mdl-grid">
            <div class="mdl-cell--3-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet">
                <div id="poster" style="position:sticky;top:10px">
                    <img style="width:100%;min-width:0!important;min-height:0!important" src="@Model.PosterURL" alt="Постер @Model.Title" />
                </div>
            </div>
            <div class="info-table mdl-cell--8-col-desktop mdl-cell--6">
                <div id="motus-info-bar">
                    <div id="title">
                        <h1 class="title-text">@Model.Title</h1>
                        @if (originalTitleHasValue)
                        {
                            <p>@Model.OriginalTitle</p>
                        }
                    </div>
                    <div class="like-bar">
                        <div class="thumb">
                            <button id="ThumbUpBtn" class="mdl-button motus-tools mdl-js-button mdl-button--icon">
                                <i class="like-icon material-icons">thumb_up</i>
                            </button>
                            <span id="ThumbUpTxt" class="thump-count"></span>
                        </div>
                        <div class="thumb">
                            <button id="ThumbDownBtn" class="mdl-button motus-tools mdl-js-button mdl-button--icon">
                                <i class="like-icon material-icons">thumb_down</i>
                            </button>
                            <span id="ThumbDownTxt" class="thump-count"></span>
                        </div>
                    </div>
                </div>
                <div class="info-item shot-info">
                    <span class="mdl-chip motus-year-chip" value="@Model.ReleaseDate.Value">
                        <span class="mdl-chip__text">@Model.ReleaseDate.Value</span>
                    </span>
                    @foreach (var genre in Model.GenreTitles)
                    {
                        <span class="mdl-chip motus-genre-chip" value="@genre">
                            <span class="mdl-chip__text">@genre</span>
                        </span>
                    }
                    @foreach (var country in Model.CountryNames)
                    {
                        <span class="mdl-chip motus-county-chip" value="@country">
                            <span class="mdl-chip__text">@country</span>
                        </span>
                    }
                </div>
                @if (!string.IsNullOrEmpty(Model.Text))
                {
                    <div class="info-item description"><div style="margin:-5px 0 0 0"><i class="material-icons">format_quote</i></div><q><i>@Model.Text</i></q><cite class="kinopoisk-ref"><a href="https://www.kinopoisk.ru/">Кинопоиск</a></cite></div>
                }
                @if (Model.LastEpisodeTime.HasValue)
                {
                    <div class="info-item">
                        <h2>Новый эпизод</h2>
                        <span class="mdl-chip motus-actor-chip" value="@Model.LastEpisodeTranslator">
                            <span class="mdl-chip__text">@Model.LastEpisodeTranslator (@Model.LastEpisodeTime.Value.ToString("dd.MM.yyyy")) </span>
                        </span>
                    </div>
                }
                <div class="film-makers info-item">
                    <h2>Режиссёры</h2>
                    @foreach (var filmMaker in Model.FilmMakerNames)
                    {
                        <span class="mdl-chip motus-fm-chip" value="@filmMaker">
                            <span class="mdl-chip__text">@filmMaker</span>
                        </span>
                    }
                </div>
                <div class="roles info-item">
                    <h2>Актёры</h2>
                    @foreach (var actor in Model.ActorNames)
                    {
                        <span class="mdl-chip motus-actor-chip" value="@actor">
                            <span class="mdl-chip__text">@actor</span>
                        </span>
                    }
                </div>
                @if (Model.TranslationTitles.Any())
                {
                    <div class="translations info-item">
                        <h2>Озвучка</h2>
                        @foreach (var translation in Model.TranslationTitles)
                        {
                            <span class="mdl-chip motus-actor-chip" value="@translation">
                                <span class="mdl-chip__text">@translation</span>
                            </span>
                        }
                    </div>
                }
                <div class="film-params info-item">
                    @if (Model.Imdb != null && Model.Imdb > 0)
                    {
                        <div class="param"><div class="r-title">IMDb </div>@Model.Imdb</div>
                    }
                    @if (Model.KinopoiskRating != null && Model.KinopoiskRating > 0)
                    {
                        <div class="param"><div class="r-title">KP </div>@Model.KinopoiskRating</div>
                    }
                    @if (Model.Duration > 0)
                    {
                        <div class="duration param">
                            <div class="mdl-list__item-icon">
                                <i class="watch-icon material-icons">access_time</i>
                            </div>
                            <div>
                                @Model.Duration <span id="time">min</span>
                            </div>
                        </div>
                    }
                    @if (Model.LastEpisodeTime.HasValue)
                    {
                        <button id="UnSubscribeBtn"
                                class="mdl-button motus-tools mdl-js-button mdl-button--mini-icon">
                            <i class="material-icons">unsubscribe</i><span>отписаться</span>
                        </button>
                        <button id="SubscribeBtn"
                                class="mdl-button motus-tools mdl-js-button mdl-button--mini-icon">
                            <i class="material-icons">playlist_add</i><span>подписаться</span>
                        </button>
                    }
                </div>
            </div>
        </div>
        <div id="comments" class="info-item">
            <h2 id="comments-header" class="mdl-cell">Комментарии</h2>
            @if (!Model.Comments.Any())
            {
                <div id="no-comments-message">Еще никто не поделися своим мнением</div>
                <ul id="comment-container"></ul>
            }
            else
            {
                <ul id="comment-container">
                    @{
                        foreach (var item in Model.Comments.OrderBy(c => c.AddDateTime))
                        {
                    <li>
                        <input type="hidden" value="@item.ID" />
                        <div class="comment-header">
                            <span>@item.AddDateTime.ToString("dd.MM.yyyy hh:mm")</span>
                            <span class="comment-author-name">@item.AuthorName</span>
                        </div>
                        @if (item.Parent != null)
                        {
                            <div>Ответ на:</div>
                            <div><bold>@item.Parent.AuthorName: </bold>"@item.Parent.Text"</div>
                        }

                        <div class="comment-text">
                            @item.Text
                        </div>
                        <div class="votes-count">@string.Format("+{0} -{1}", item.PositiveVoteCount, item.NegativeVoteCount)</div>
                        <div>
                            <button type="button" id="like-btn" onclick="voteForComment(@item.ID, true)">+</button>
                            <button type="button" id="dislike-btn" onclick="voteForComment(@item.ID, false)">-</button>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.GetUserId() == item.AuthorID)
                            {
                                <a href="#" onclick="prepareToEditCommentText(@item.ID)">Редактировать</a> <a href="#" onclick="removeComment(@item.ID)">Удалить</a>
                                <br />
                            }
                            <a href="#" value="@item.ID" onclick="prepareResponceCommentText(@item.ID)">Ответить</a>
                        }
                    </li>
                        }
                    }
                </ul>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <form id="comment-form">
                    <input type="hidden" id="parent-comment-id" /><br />
                    <textarea name="Text" id="new-comment-text"></textarea>
                    <button type="button" id="add-comment-btn">
                        Оставить комментарий
                    </button>
                </form>
                <div id="error-text" class="error"></div>
            }
            else
            {
                <div>
                    Только авторизованные пользователи могут оставлять комментарии
                </div>
            }
        </div>
        @if (Model.Similar != null && Model.Similar.Any())
        {
            <div class="mdl-cell--12-col" style="width:100%">
                <h2 class="mdl-cell">Рекомендуем</h2>
                <div class="mdl-cell--12-col" id="recommendations">
                    @foreach (var item in Model.Similar)
                    {
                        if (item != null && !string.IsNullOrEmpty(item.PosterURL))
                        {
                            <div class="mini-poster mdl-card mdl-shadow--2dp mdl-cell--2-col" onclick="location.href='@Url.Action("VideoMaterialDetailPage", new { id = item.ID })'">
                                <div class="poster-relative">
                                    <div class="poster-absolute">
                                        <img class="mini-poster-image" src="@item.PosterURL.Replace("iphone360","iphone180")" alt="Постер @item.Title" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/User/Mark.js"></script>
<script src="~/Scripts/User/Subscribe.js"></script>
<script src="~/Scripts/User/DetailPage.js"></script>
<script type="text/javascript">
    var card = $('.player-container');
    var width = card.width();
    card.css('height', width * (9 / 17))
    var moon_params = {
        width: card.width(),
        height: card.height(),
        on_dom_ready: true,
        kp_id: @int.Parse(Model.KinopoiskID),
        year: @Model.ReleaseDate,
    };
    !function (e, n, t, r, a) {
    r = e.createElement(n), a = e.getElementsByTagName(n)
    [0], r.async = !0, r.src = t, a.parentNode.insertBefore(r, a)
    }(document, "script", "//visearch.info/v2/find-player.min.js");
</script>

