@model SerialService.ViewModels.PersonalAccountViewModel
@{
    ViewBag.Title = "Личный профиль";
}
<link rel="stylesheet" href="~/Content/User/Profile.css" />
<link rel="stylesheet" href="~/Content/AccountForms/AccountForms.css" />
<div class="mdl-card mdl-shadow--2dp acc-card mdl-cell--7-col mdl-cell--12-col-phone mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@(Model.CurrentUserName ?? Model.CurrentEmail)</h2>
    </div>
    <div class="profile-container mdl-cell--12-col mdl-grid">
        <div class="avatar-container">
            <div class="avatar-panel">
                <button class="avatar-btn mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">image_search</i>
                </button>
            </div>
            <img id="CurrentAvatarURLImg" src="@Model.CurrentAvatarURL" />
            <input id="InputFile" hidden type="file" name="avatar" accept="image/x-png,image/jpeg">
        </div>
        <div class="profile-info mdl-list mdl-cell--6-col">
            <ul class="panels-list">
                <li class="panel-item mdl-list__item">
                    <div class="panel-title">
                        <h5>Контактная информация</h5>
                        <button for="profile-contacts" class="mdl-button motus-tools mdl-js-button mdl-button--icon exp-panel-arrow">
                            <i class="material-icons">
                                expand_more
                            </i>
                        </button>
                    </div>
                    <ul style="display:none" id="profile-contacts" class="mdl-list profile-info-panel">
                        <li class="mdl-list__item">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell--10-col mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" value="@Model.CurrentUserName" id="username">
                                <label class="mdl-textfield__label" for="username">Имя пользователя...</label>
                            </div>
                        </li>
                        <li class="mdl-list__item">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell--10-col mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="email" value="@Model.CurrentEmail">
                                <label class="mdl-textfield__label" for="email">Email...</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="panel-item mdl-list__item">
                    <div class="panel-title">
                        <h5>Сменить пароль</h5>
                        <button for="password-change" class="mdl-button motus-tools mdl-js-button mdl-button--icon exp-panel-arrow">
                            <i class="material-icons">
                                expand_more
                            </i>
                        </button>
                    </div>
                    <ul style="display:none" id="password-change" class="mdl-list profile-info-panel">
                        <li class="mdl-list__item">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell--10-col">
                                <input class="mdl-textfield__input" name="Password" pattern="[A-Za-z0-9]{6,16}" type="password" id="password">
                                <label class="mdl-textfield__label" for="password">Пароль...</label>
                                <span class="mdl-textfield__error">Пароль длиной не менее 6 символов, состоящий из букв и цифр</span>
                            </div>
                        </li>
                        <li class="mdl-list__item">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell--10-col" id="confirm-password-conrainer">
                                <input class="mdl-textfield__input" name="ConfirmPassword" pattern="[A-Za-z0-9]{6,16}" type="password" id="confitm-password">
                                <label class="mdl-textfield__label" for="confitm-password">Подтверждение пароля...</label>
                                <span class="mdl-textfield__error" id="conf-error">Пароль и его подтвержение не совпадают</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li style="display:none" id="confirm-changes" class="panel-item mdl-list__item">
                    <div class="panel-title">
                        <h5>Введите свой текущий пароль</h5>
                    </div>
                    <ul class="mdl-list profile-info-panel">
                        <li class="mdl-list__item">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell--10-col">
                                <input class="mdl-textfield__input" name="Password" required pattern="[A-Za-z0-9]{6,16}" type="password" id="password-confirm">
                                <label class="mdl-textfield__label" for="password-confirm">Пароль...</label>
                                <span class="mdl-textfield__error">Пароль длиной не менее 6 символов, состоящий из букв и цифр</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mdl-cell--6-col">
            @if (Model.SubscribedVideoMaterials != null && Model.SubscribedVideoMaterials.Any())
            {
                <div>
                    <h5>Мои подписки</h5>
                    <ul class="mdl-list">
                        @foreach (var item in Model.SubscribedVideoMaterials)
                        {
                            <li class="mdl-list__item">
                                @Html.ActionLink(item.Title, "VideoMaterialDetailPage", new { id = item.ID }, new { @class = "mdl-navigation__link profile-link" })
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.LikedVideoMaterials != null && Model.LikedVideoMaterials.Any())
            {
                <div>
                    <h5>Понравившиеся</h5>
                    <ul class="mdl-list">
                        @foreach (var item in Model.LikedVideoMaterials)
                        {
                            <li class="mdl-list__item">
                                @Html.ActionLink(item.Title, "VideoMaterialDetailPage", new { id = item.ID }, new { @class = "mdl-navigation__link profile-link" })
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button type="button" disabled id="submit-btn" class="mdl-button mdl-js-button acc-button">
            Сохранить
        </button>
    </div>
</div>
<script src="~/Scripts/AccountForms/CommonForm.js"></script>
<script src="~/Scripts/User/Profile.js"></script>