<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="nofollow">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title</title>
    }
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    <link rel="stylesheet" href="~/Content/reset.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Scripts/Loader.css" />
    <link rel="stylesheet" href="~/Content/Layout/Main-layout.css" />
    <link rel="stylesheet" href="~/Content/Layout/Filter-panel.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/mdl-v1.1.2/material.min.css">
    <script src="~/Content/mdl-v1.1.2/material.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        html * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <div class="mdl-layout motus-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header motus-header">
            <div class="mdl-layout__header-row">
                <span class="logo mdl-layout-title" onclick="location.href='@Url.Action("Index","User")'">
                    <img class="logo-el mdl-cell--hide-tablet mdl-cell--hide-phone" src="~/Content/Logo/motus-logo.svg" alt="logo" height="22" />
                    <img class="logo-el mdl-cell--hide-desktop" src="~/Content/Logo/logo-image.svg" alt="logo" height="17" />
                </span>
                <div class="mdh-expandable-search mdl-cell--hide-tablet mdl-cell--hide-phone">
                    <i class="material-icons">search</i>
                    <form id="search-form" class='search-form' method="get" action="~/User/Search">
                        <input id="search" autocomplete='off' name="searchStr" type="text" placeholder="Поиск" size="1">
                        <ul class='autocomplete mdl-shadow--2dp'></ul>
                    </form>
                </div>
                <div class="mdl-layout-spacer mdl-cell--hide-desktop"></div>
                <button class="mdh-toggle-search motus-tools mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-desktop">
                    <i class="material-icons">search</i>
                </button>
                <div>
                    <button id="exp-filter-arrow" class="mdl-button motus-tools mdl-js-button mdl-button--icon">
                        <i class="material-icons">
                            expand_more
                        </i>
                    </button>
                </div>
                <nav class="mdl-navigation">
                    @Html.Partial("_LoginPartial")
                </nav>
            </div>
            <div class="filter-panel">
                @Html.Partial("FilterPanel")
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content" style="min-height:100%">@RenderBody()</div>
            <footer class="mdl-mega-footer">
                <div class="motus-footer-line mdl-cell--12-col">
                    <div class="morus-about-info mdl-cell--4-col-desktop mdl-cell--6-col">
                        <h4 class="motus-footer-titles">Информация</h4>
                        <ul class="motus-footer-list">
                            <li onclick="location.href='@Url.Action("AboutProject","User")'">О проекте</li>
                            <li onclick="location.href='@Url.Action("ForHolders","User")'">Правообладателям</li>
                        </ul>
                    </div>
                    <div class="motus-service-info mdl-cell--2-col">
                        <!-- Yandex.Metrika informer -->
                        <a href="https://metrika.yandex.ru/stat/?id=53165533&amp;from=informer"
                           target="_blank" rel="nofollow">
                            <img src="https://informer.yandex.ru/informer/53165533/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                 style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="53165533" data-lang="ru" />
                        </a>
                        <!-- /Yandex.Metrika informer -->
                        <p>&copy; @DateTime.Now.Year – Motus-Cinema</p>
                    </div>
                </div>

                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function (m, e, t, r, i, k, a) {
                    m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                        m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                    })
                        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                    ym(53165533, "init", {
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/53165533" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
            </footer>
        </main>
    </div>
    <script src="~/Scripts/Layout/Filter-panel-scripts.js"></script>
    <script src="~/Scripts/Layout/Main-layout-scripts.js"></script>
    <script src="~/Scripts/Layout/Autocomplete.js"></script>
</body>
</html>
