@{
    Layout = "~/Views/Shared/PublicRootLayout.cshtml";
}

<div id="Top">
    @using (Html.BeginForm("Search", "User", FormMethod.Get))
    {
        <div id="SearchBlock">
            @Html.TextBox("searchStr")
            <input type="submit" value="Поиск" />
        </div>
    }
        <div id="PesonalData">
            @if (User.Identity.IsAuthenticated)
            {
                <span>@Html.ActionLink(User.Identity.Name, "PersonalAccount")</span>
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                }
            }
            else
            {
                using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        Логин:<input type="text" name="email" />
                    </div>
                    <div>
                        Пароль:<input type="password" name="password" />
                    </div>
                    <input type="hidden" name="returnUrl" value= @ViewBag.CurrentURL/>
                    <div>
                        <input type="submit" value="Авторизоваться"/>
                    </div>
                }
                @*@Html.ActionLink("Авторизоваться", "Login", "Account", new { email = "maxkarab@yandex.ru", password = "abc123", returnUrl = ViewBag.CurrentURL }, null)*@
            }
        </div>
    <div>
        @RenderBody()
    </div>
</div>
<script src="~/Scripts/User/Mark.js"></script>

