@using SerialService.Models
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Сброс пароля";
}

<link rel="stylesheet" href="~/Content/AccountForms/AccountForms.css" />
<div class="mdl-card mdl-shadow--2dp acc-card mdl-cell--4-col mdl-cell--12-col-phone mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@ViewBag.Title</h2>
    </div>
    <div class="acc-form-container mdl-cell--10-col mdl-cell--12-col-phone mdl-grid">
        <form method="post" id="reset-form" class="mdl-cell--12-col" data-ajax="true">
            @Html.AntiForgeryToken()
            @Html.Hidden("Code", Model.Code, new { id = "code" })
            <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                <input class="mdl-textfield__input" value=@Model.Email name="Email" required type="email" id="email">
                <label class="mdl-textfield__label" for="email">Email...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                <input class="mdl-textfield__input" name="Password" required pattern="[A-Za-z0-9]{6,16}" type="password" id="password">
                <label class="mdl-textfield__label" for="password">Новый пароль...</label>
                <span class="mdl-textfield__error">Пароль длиной не менее 6 символов, состоящий из букв и цифр</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col" id="confirm-password-conrainer">
                <input class="mdl-textfield__input" name="ConfirmPassword" required pattern="[A-Za-z0-9]{6,16}" type="password" id="confitm-password">
                <label class="mdl-textfield__label" for="confitm-password">Подтверждение пароля...</label>
                <span class="mdl-textfield__error" id="conf-error">Пароль и его подтвержение не совпадают</span>
            </div>
            <div class="mdl-cell--12-col"><span style="display:none" class="error"></span></div>
        </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button type="button" disabled id="submit-btn" class="mdl-button mdl-js-button acc-button">
            Отправить
        </button>
    </div>
</div>
<script src="~/Scripts/AccountForms/CommonForm.js"></script>
<script src="~/Scripts/AccountForms/ResetPasswordForm.js"></script>













@*@model SerialService.Models.ResetPasswordViewModel
    @{
        ViewBag.Title = "Сброс пароля";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Сброс пароля.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Сброс" />
            </div>
        </div>
    }*@

